*.bak_*
/kod/SystemInformacyjnyLinii/target/
/kod/Testy_SystemInformacynyMaven/nbproject/
/kod/Testy_SystemInformacynyMaven/target/
/kod/Testy_SystemInformacyjnyMaven/nbproject/
/kod/Testy_SystemInformacyjnyMaven/target/
/kod/SystemInformacyjnyFitnesse/nbproject/private/
/kod/SystemInformacyjnyFitnesse/build/
/kod/SystemInformacyjnyFitnesse/dist/
fitnesse-jar